Repository bandibook/bandibook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528, @binary-ho, @deepbig, @newminkyung

feat: add ch8.mdx and ch9.mdx
  notes/book/data-oriented-programming/우석/ch8.mdx
  notes/book/data-oriented-programming/우석/ch9.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

Add blog post: [책] 데이터 지향 프로그래밍 - 9장 영속 자료구조
  notes/10000-bagger/egg528/2024-12-22-binary-ho.md
Owners: @binary-ho, @hjy0951, @egg528, @deepbig, @newminkyung

Add blog post: [책] 데이터 지향 프로그래밍 - 9장 영속 자료구조
  notes/10000-bagger/egg528/[요약] egg528 - [책] 데이터 지향 프로그래밍 - 9장 영속 자료구조 (2024-12-22).md
Owners: @binary-ho, @hjy0951, @egg528, @deepbig, @newminkyung

feat: add ch8.mdx
  notes/book/data-oriented-programming/만혁/ch8.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

feat: add ch9.mdx
  notes/book/data-oriented-programming/만혁/ch9.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

[DOP] week5 ch8~ch9 (#141)
  notes/book/data-oriented-programming/만혁/ch8.mdx
  notes/book/data-oriented-programming/만혁/ch9.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

feat: add ch8.mdx and ch9.mdx (#138)
  notes/book/data-oriented-programming/우석/ch8.mdx
  notes/book/data-oriented-programming/우석/ch9.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

chore: setting learning-javascript-design-pattern
  README.md
  pages/book/_meta.json
Owners: none

ch1
  notes/book/learning-javascript-design-patterns/도은/ch1.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

ch2
  notes/book/learning-javascript-design-patterns/도은/ch2.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

ch3
  notes/book/learning-javascript-design-patterns/도은/ch3.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

ch4
  notes/book/learning-javascript-design-patterns/도은/ch4.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

반디가 친구의 블로그에서 새로운 글을 가져왔어요!
  notes/10000-bagger/egg528/[Summary] -9 - egg528 (24-12-22).md
Owners: @binary-ho, @hjy0951, @egg528, @deepbig, @newminkyung

반디가 친구의 블로그에서 새로운 글을 가져왔어요!
  notes/10000-bagger/egg528/[Summary] -9 - egg528 (24-12-22).md
Owners: @binary-ho, @hjy0951, @egg528, @deepbig, @newminkyung

[DOP] week5 (#145)
  notes/book/data-oriented-programming/만혁/ch8.mdx
  notes/book/data-oriented-programming/만혁/ch9.mdx
  notes/book/data-oriented-programming/우석/ch8.mdx
  notes/book/data-oriented-programming/우석/ch9.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

bandibook auto file combine
  combiner/cache.json
  pages/book/data-oriented-programming/ch8.mdx
  pages/book/data-oriented-programming/ch9.mdx
Owners: none

feat: add ch10, ch11
  notes/book/data-oriented-programming/만혁/ch10.mdx
  notes/book/data-oriented-programming/만혁/ch11.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

[자바스크립트+리액트 디자인 패턴] week1 (#142)
  README.md
  notes/book/learning-javascript-design-patterns/도은/ch1.mdx
  notes/book/learning-javascript-design-patterns/도은/ch2.mdx
  notes/book/learning-javascript-design-patterns/도은/ch3.mdx
  notes/book/learning-javascript-design-patterns/도은/ch4.mdx
  pages/book/_meta.json
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

bandibook auto file combine
  combiner/cache.json
  pages/book/learning-javascript-design-patterns/ch1.mdx
  pages/book/learning-javascript-design-patterns/ch2.mdx
  pages/book/learning-javascript-design-patterns/ch3.mdx
  pages/book/learning-javascript-design-patterns/ch4.mdx
Owners: none

feat: add ch10, ch11
  notes/book/data-oriented-programming/우석/ch10.mdx
  notes/book/data-oriented-programming/우석/ch11.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

feat: add ch10, ch11 (#146)
  notes/book/data-oriented-programming/만혁/ch10.mdx
  notes/book/data-oriented-programming/만혁/ch11.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

feat: add ch10, ch11 (#147)
  notes/book/data-oriented-programming/우석/ch10.mdx
  notes/book/data-oriented-programming/우석/ch11.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

[DOP] week6 (#148)
  notes/book/data-oriented-programming/만혁/ch10.mdx
  notes/book/data-oriented-programming/만혁/ch11.mdx
  notes/book/data-oriented-programming/우석/ch10.mdx
  notes/book/data-oriented-programming/우석/ch11.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

bandibook auto file combine
  combiner/cache.json
  pages/book/data-oriented-programming/ch10.mdx
  pages/book/data-oriented-programming/ch11.mdx
Owners: none

ch5
  notes/book/learning-javascript-design-patterns/title.config.json
  notes/book/learning-javascript-design-patterns/도은/ch5.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

ch6
  notes/book/learning-javascript-design-patterns/title.config.json
  notes/book/learning-javascript-design-patterns/도은/ch6.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

feat: add ch12.mdx
  notes/book/data-oriented-programming/만혁/ch12.mdx
Owners: @hjy0951, @Doeunnkimm, @ManHyuk, @egg528

.github/CODEOWNERS:

# 반디북 디렉토리
/notes/book/ @hjy0951 @Doeunnkimm @ManHyuk @egg528

# 10000-bagger 디렉토리
/notes/10000-bagger/ @binary-ho @hjy0951 @egg528 @deepbig @newminkyung

# 반디북 관리
*.{js,ts,tsx,py,json} @binary-ho @egg528 @Doeunnkimm
/.github/workflows/ @binary-ho @Doeunnkimm @egg528
