Repository bandibook/bandibook, pull requests merged in 2024-11, with the labels that each got.

#91 [react.dev] Describing the UI 김도은
  notes/react.dev/도은/Describing the UI.mdx
Labels: react.dev

#92 [react.dev]: Adding Interactivity 김도은
  notes/react.dev/도은/Adding Interactivity.mdx
Labels: react.dev

#94 [모던 리액트 Deep Dive] ch8 김도은
  notes/react-deep-dive/도은/ch8.mdx
  notes/react-deep-dive/준영/ch8.mdx
Labels: 리액트 Deep Dive

#95 [모던 리액트 Deep Dive] ch10 김도은
  notes/react-deep-dive/도은/ch10.mdx
  notes/react-deep-dive/준영/ch10.mdx
Labels: 리액트 Deep Dive

#99 chore: 반디북과 만베거를 분리하여 관리할 수 있도록 확장
  .github/CODEOWNERS
  constants/members.ts
  next.config.js
  pages/10000-bagger/_meta.json
  pages/10000-bagger/index.mdx
  pages/_meta.json
  pages/book/_meta.json
  pages/book/grokking-simplicity/ch1.mdx
  pages/book/grokking-simplicity/ch10.mdx
  pages/book/grokking-simplicity/ch11.mdx
  pages/book/grokking-simplicity/ch12.mdx
  pages/book/grokking-simplicity/ch13.mdx
  pages/book/grokking-simplicity/ch14.mdx
  pages/book/grokking-simplicity/ch15.mdx
  pages/book/grokking-simplicity/ch16.mdx
  pages/book/grokking-simplicity/ch17.mdx
  pages/book/grokking-simplicity/ch18.mdx
  pages/book/grokking-simplicity/ch19.mdx
  pages/book/grokking-simplicity/ch2.mdx
  pages/book/grokking-simplicity/ch3.mdx
  pages/book/grokking-simplicity/ch4.mdx
  pages/book/grokking-simplicity/ch5.mdx
  pages/book/grokking-simplicity/ch6.mdx
  pages/book/grokking-simplicity/ch7.mdx
  pages/book/grokking-simplicity/ch8.mdx
  pages/book/grokking-simplicity/ch9.mdx
  pages/book/index.mdx
  pages/book/react-deep-dive/ch1.mdx
  pages/book/react-deep-dive/ch10.mdx
  pages/book/react-deep-dive/ch2.mdx
  pages/book/react-deep-dive/ch3.mdx
  pages/book/react-deep-dive/ch4.mdx
  pages/book/react-deep-dive/ch5.mdx
  pages/book/react-deep-dive/ch6.mdx
  pages/book/react-deep-dive/ch7.mdx
  pages/book/react-deep-dive/ch8.mdx
  pages/book/react.dev/Adding Interactivity.mdx
  pages/book/react.dev/Describing the UI.mdx
  pages/book/react.dev/Quick Start.mdx
  pages/book/useMicroState/ch1.mdx
  pages/book/useMicroState/ch10.mdx
  pages/book/useMicroState/ch11.mdx
  pages/book/useMicroState/ch2.mdx
  pages/book/useMicroState/ch3.mdx
  pages/book/useMicroState/ch4.mdx
  pages/book/useMicroState/ch5.mdx
  pages/book/useMicroState/ch6.mdx
  pages/book/useMicroState/ch7.mdx
  pages/book/useMicroState/ch8.mdx
  pages/book/useMicroState/ch9.mdx
  pages/index.mdx
  theme.config.jsx
Labels: 🌎 기능

#101 [DOP] week1 ch1~ch2
  notes/data-oriented-programming/우석/ch1.mdx
  notes/data-oriented-programming/우석/ch2.mdx
Labels: DOP

#98 [DOP] week1 ch1~ch3
  notes/data-oriented-programming/만혁/ch1.mdx
  notes/data-oriented-programming/만혁/ch2.mdx
  notes/data-oriented-programming/우석/ch1.mdx
  notes/data-oriented-programming/우석/ch2.mdx
Labels: DOP

#107 feat: replaceBr plugin 추가
  lib/remark-plugin.js
  next.config.js
  package.json
  pages/10000-bagger/binary-ho/Golang Project CI execution Time 줄이기 실험.md
  pages/10000-bagger/binary-ho/[Refactoring] 코드에서 풍기는 악취.md
  pnpm-lock.yaml
Labels: 🌎 기능

#109 [10000-Bagger] binary-ho 만베거 아티클 푸시
  notes/10000-bagger/binary-ho/[CRDT] LLWRegister와 Lamport Clock.md
  notes/10000-bagger/binary-ho/[Cache] 간단한 캐시 Read-Write 전략.md
  notes/10000-bagger/binary-ho/[Concurrency] Actor Model과 CSP.md
  notes/10000-bagger/binary-ho/[Concurrency] 다양한 동시성 문제 해결과 사례들.md
  notes/10000-bagger/binary-ho/[DB] MySQL B-Tree Index 2 - 인덱스 Scan 방식과 인덱스 사용에 영향을 미치는 요소들.md
  notes/10000-bagger/binary-ho/[DB] MySQL B-Tree Index 3 - 인덱스 스캔 방향과 정렬, 효율성과 작업 범위.md
  notes/10000-bagger/binary-ho/[DB] MySQL B-Tree 인덱스 1 .md
  notes/10000-bagger/binary-ho/[DB] MySQL Clustering Index, Unique Index, Foreign Key Index.md
  notes/10000-bagger/binary-ho/[DB] MySQL MVCC와 잠금 없는 읽기 .md
  notes/10000-bagger/binary-ho/[DB] MySQL 파티셔닝.md
  notes/10000-bagger/binary-ho/[DB] MySQL 파티션 2 - 파티션의 종류.md
  notes/10000-bagger/binary-ho/[DB] SQL의 처리 과정과 Optimizier, 데이터 저장 및 IO.md
  notes/10000-bagger/binary-ho/[Data Structure] Treap.md
  notes/10000-bagger/binary-ho/[Finance] 보험증권과 심사 프로세스.md
  notes/10000-bagger/binary-ho/[Growth] 잘하기와 자라기.md
  notes/10000-bagger/binary-ho/[Java] Concurrency 3 - Java 9 Flow 1.md
  notes/10000-bagger/binary-ho/[Java] GC 1편 - GC trade-off와 safepoint.md
  notes/10000-bagger/binary-ho/[Java] GC 2편 - CMS와 Tri-Color Marking.md
  notes/10000-bagger/binary-ho/[Java] GC 3편 - CMS GC의 동작 방식.md
  notes/10000-bagger/binary-ho/[Java] GC 4편 - G1GC.md
  notes/10000-bagger/binary-ho/[Java] Java Concurrency 1 - 역사.md
  notes/10000-bagger/binary-ho/[Java] Java Concurrency 2 - 스레드와 CompletableFuture의 사용법.md
  notes/10000-bagger/binary-ho/[Java] NavigableMap으로 정렬된 맵을 탐험해보자.md
  notes/10000-bagger/binary-ho/[Java] Red-Black Tree와 java util에서의 구현법.md
  notes/10000-bagger/binary-ho/[Java] ThreadPoolExecutor의 스레드 갯수는 어떻게 관리되는가.md
  notes/10000-bagger/binary-ho/[Java] 자바 버전별 주요 변화 총정리 17까지.md
  notes/10000-bagger/binary-ho/[Java] 자바 컬렉션과 최적화.md
  notes/10000-bagger/binary-ho/[Kotlin] 예외 처리 1 - Result 객체.md
  notes/10000-bagger/binary-ho/[Kotlin] 코틀린과 Null.md
  notes/10000-bagger/binary-ho/[Spring] AOP 사용시 주의사항.md
  notes/10000-bagger/binary-ho/[Spring] Dispather Servlet.md
  notes/10000-bagger/binary-ho/[Spring] 간단한 Spring MVC 구조와 흐름.md
  notes/10000-bagger/binary-ho/[UIUX] UIUX 구현 방법론과 게슈탈트 이론.md
Labels: 10000-bagger

#110 [10000-bagger] binary-ho 제목 수정과 meta update
  pages/10000-bagger/binary-ho/AOP 사용시 주의사항.md
  pages/10000-bagger/binary-ho/Actor Model과 CSP.md
  pages/10000-bagger/binary-ho/Concurrency 3 - Java 9 Flow 1.md
  pages/10000-bagger/binary-ho/Dispather Servlet.md
  pages/10000-bagger/binary-ho/GC 1편 - GC trade-off와 safepoint.md
  pages/10000-bagger/binary-ho/GC 2편 - CMS와 Tri-Color Marking.md
  pages/10000-bagger/binary-ho/GC 3편 - CMS GC의 동작 방식.md
  pages/10000-bagger/binary-ho/GC 4편 - G1GC.md
  pages/10000-bagger/binary-ho/Java Concurrency 1 - 역사.md
  pages/10000-bagger/binary-ho/Java Concurrency 2 - 스레드와 CompletableFuture의 사용법.md
  pages/10000-bagger/binary-ho/LLWRegister와 Lamport Clock.md
  pages/10000-bagger/binary-ho/MySQL B-Tree Index 2 - 인덱스 Scan 방식과 인덱스 사용에 영향을 미치는 요소들.md
  pages/10000-bagger/binary-ho/MySQL B-Tree Index 3 - 인덱스 스캔 방향과 정렬, 효율성과 작업 범위.md
  pages/10000-bagger/binary-ho/MySQL B-Tree 인덱스 1 .md
  pages/10000-bagger/binary-ho/MySQL Clustering Index, Unique Index, Foreign Key Index.md
  pages/10000-bagger/binary-ho/MySQL MVCC와 잠금 없는 읽기 .md
  pages/10000-bagger/binary-ho/MySQL 파티셔닝.md
  pages/10000-bagger/binary-ho/MySQL 파티션 2 - 파티션의 종류.md
  pages/10000-bagger/binary-ho/NavigableMap으로 정렬된 맵을 탐험해보자.md
  pages/10000-bagger/binary-ho/Red-Black Tree와 java util에서의 구현법.md
  pages/10000-bagger/binary-ho/SQL의 처리 과정과 Optimizier, 데이터 저장 및 IO.md
  pages/10000-bagger/binary-ho/ThreadPoolExecutor의 스레드 갯수는 어떻게 관리되는가.md
  pages/10000-bagger/binary-ho/Treap.md
  pages/10000-bagger/binary-ho/UIUX 구현 방법론과 게슈탈트 이론.md
  pages/10000-bagger/binary-ho/_meta.json
  pages/10000-bagger/binary-ho/간단한 Spring MVC 구조와 흐름.md
  pages/10000-bagger/binary-ho/간단한 캐시 Read-Write 전략.md
  pages/10000-bagger/binary-ho/다양한 동시성 문제 해결과 사례들.md
  pages/10000-bagger/binary-ho/보험증권과 심사 프로세스.md
  pages/10000-bagger/binary-ho/예외 처리 1 - Result 객체.md
  pages/10000-bagger/binary-ho/자바 버전별 주요 변화 총정리 17까지.md
  pages/10000-bagger/binary-ho/자바 컬렉션과 최적화.md
  pages/10000-bagger/binary-ho/잘하기와 자라기.md
  pages/10000-bagger/binary-ho/코틀린과 Null.md
Labels: 10000-bagger

#108 [🌎 Feature] 하위 폴더 복사 기능 구현
  combiner/service/copier.py
Labels: 🌎 기능

#104 [모던 리액트 Deep Dive] ch11 김도은
  notes/book/react-deep-dive/도은/ch11.mdx
  notes/book/react-deep-dive/준영/ch11.mdx
Labels: 리액트 Deep Dive
